VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_ADMIN_EMAIL_DOMAIN=lifewood.local
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_ADMIN_EMAIL=
VITE_EMAILJS_TEMPLATE_ID=
VITE_PASSWORD_RESET_REDIRECT=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
